.image{
    height: 350px;
    width: 350px;
    border-radius: 20px;
    transition:transform.75s;
}
.image:hover{
    transform: scale(1.25);
    
}
.dog-image{
    display: flex;
    justify-content: center;
    margin: 35px;
    border-radius: 30px;
    background-color: bisque;
    padding: 20px;
  
}
.imgdiv{
    padding: 0%;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 35px;
}
.topic{
    
    border-radius: 10px;
    background-color: powderblue;
    border-style: double;   
    text-align: center;
}